<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>YOLOv5 Object Detection</title>

		<style>

		@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
		@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
		body{
			font-family: "Plus Jakarta Sans";
			/* background-color: rgb(170, 195, 216);  */
			padding-bottom: 15em;
		}

        .upload-container {
            background-color: white;
            border-radius: 8px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            padding: 16px;
            width: 400px;
            text-align: left;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
        }
        .upload-container .icon {
            font-size: 24px;
            color: #8A2BE2; /* Purple */
            margin-right: 8px;
        }
        .upload-container input[type="file"] {
            display: none; /* Hide the file input */
        }
        .upload-container label {
            cursor: pointer;
            display: flex;
            align-items: center;
            color: #333;
        }
        .upload-container .button {
            background-color: transparent;
            color: #8A2BE2;
            font-size: 24px;
            border: none;
            cursor: pointer;
            padding: 0;
        }
        .upload-container:hover, #startWebcam:hover, #stopWebcam:hover {
            box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
        }
        .file-name {
            font-size: 14px;
            color: #555;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 200px; /* Limit file name width */
        }

		#logo-header{
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			height: 50px;
			gap: .6rem;
			margin-top: 5em;
		}

		#header{
			display: flex;
			justify-content: center;
			align-items: center;
			font-weight: 900;
			/* letter-spacing: 0.1em; */
			font-size: 3rem;
			color: #1E293B;
		}

		#des{
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 1.2rem;
			color: #1E293B;
			font-weight: bold;
		}

		#des #des-1{
			color: #8540F5;
			margin-left: 5px;
		}

		#des #des-2{
			color: black;
			font-weight: 900;
			margin-left: 5px;
		}

		#judul{
			font-size: 2rem;
			font-weight: bold;
			color: #1E293B;
		}

		#logo-gambar{
			height: 50px;
		}

		#header span{
			margin-left: 10px;
			color: #8540F5;
		}

		.upload-container{
			padding: 1.5em 2em 1.5em 2em;
			cursor: pointer;
			width: 800px;
			/* border-width: 1px; */
			/* background-color: red; */

			border: 2px solid black;
			border-radius: 10px;
			box-shadow: 4px 4px 4px black;
		}


		#container-input{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-top: 6em;
			gap: 2rem;
		}

		label{
			font-weight: 900;
		}

		#inside-input1{
			
			display: flex;
			flex-direction: row;
			width: 870px;
			
			
		}

		#startWebcam{
			/* display: flex; */
			border: 2px solid black;
			border-radius: 10px;
			box-shadow: 4px 4px 4px black;
			padding: 1.5em 2em 1.5em 2em;
			width: 50%;
			margin-right: 1em;
			font-weight: 600;
			font-size: 1.08rem;
			cursor: pointer;
		}

		#startWebcam:hover{
			opacity: 0.7;
		}

		#stopWebcam{
			font-weight: 600;
			border: 2px solid black;
			border-radius: 10px;
			box-shadow: 4px 4px 4px black;
			padding: 1.5em 2em 1.5em 2em;
			width: 50%;
			font-size: 1.08rem;
			cursor: pointer;
		}

		#stopWebcam:hover{
			opacity: 0.7;
		}

		#startWebcam:active, #stopWebcam:active{
			opacity: 0.2;
		}

		#result{
			font-family: Poppins;
			display: flex;
			flex-direction: column;
			/* width: 50%; */
			/* justify-content: center; */
			align-items: center;
			margin-top: 5em;
			text-align: justify;
		}

		#result img{
			width: 550px;
			border-radius: 5px;
		}

		#nama-hewan{
			font-size: 2rem;
			font-weight: 900;
			/* color: #8540F5; */
		}

		#deskripsi{
			/* align-self: flex-start; */
			font-size: 1.5rem;
			font-weight: 600;
			width: 50%;
			margin-top: 0em;
		}

		#detail-deskripsi{
			width: 50%;
			margin-top: 0em;
		}

		#fakta{
			font-size: 1.5rem;
			font-weight: 600;
			margin-top: 0.5em;
			width: 50%;
		}

		#detail-fakta{
			margin-top: 0em;
			width: 50%;
		}

		#ukuran{
			font-size: 1.5rem;
			font-weight: 600;
			margin-top: 0.5em;
			width: 50%;
		}

		#detail-ukuran{
			margin-top: 0em;
			width: 50%;
		}

		#ciri-ciri{
			font-size: 1.5rem;
			font-weight: 600;
			margin-top: 0.5em;
			width: 50%;
		}

		#detail-ciri-ciri{
			margin-top: 0em;
			width: 50%;
		}

		#sejarah{
			font-size: 1.5rem;
			font-weight: 600;
			margin-top: 0.5em;
			width: 50%;
		}

		#detail-sejarah{
			margin-top: 0em;
			width: 50%;
		}

		#pola-makan{
			font-size: 1.5rem;
			font-weight: 600;
			margin-top: 0.5em;
			width: 50%;
		}

		#detail-pola-makan{
			margin-top: 0em;
			width: 50%;
		}

		#habitat{
			font-size: 1.5rem;
			font-weight: 600;
			margin-top: 0.5em;
			width: 50%;
		}

		#detail-habitat{
			margin-top: 0em;
			width: 50%;
		}

		#heii{
			margin-top: 5em;
			font-size: 1.7rem;
			color: #8540F5;
			font-weight: 700;
		}

		#webcamContainer{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			/* margin-left: 40rem; */
		}

		</style>

	</head>
	<body>
		<div id="logo-header">
			<img src="static/UI/logo.png" alt="" id="logo-gambar">
			<p id="judul">IdentifyAI</p>
		</div>
		<p id="header">Unlock the power of <span> AI Object Detection</span></p>
		<p id="des">Scan with the <span id="des-1">smartest AI</span>. Object Detection for Animal. Model with <span id="des-2">YOLOv5</span></p>
		<div id="container-input">

		
			<div id="inside-input">
				<form action="/upload" method="post" enctype="multipart/form-data" class="upload-container">
					
						<label for="file-upload" class="file-label">
							<img src="static/UI/Vector.png" class="icon" alt=""> <!-- Play Icon -->
							Scan Videos
						</label>
						<input type="file" id="file-upload" name="file" accept="video/*" required onchange="updateFileName()">
						<span class="file-name" id="file-name">No file chosen</span>
						<button type="submit" class="button">+</button>
				</form>
			</div>

			<div id="inside-input">
				<form action="/upload-image" method="post" enctype="multipart/form-data" class="upload-container image">
					<label for="file-upload-image" class="file-label">
						<img src="static/UI/ImageSquare.png" alt="" class="icon"> <!-- Image Icon -->
						Scan Image
					</label>
					<input type="hidden" name="file_type" value="image"> <!-- Hidden input for type -->
					<input type="file" id="file-upload-image" name="file" accept="image/*" required onchange="updateFileName1()">
					<span class="file-name" id="file-name1">No file chosen</span>
					<button type="submit" class="button">+</button>
				</form>
			</div>

			<div id="inside-input1">
				<button id="startWebcam"> <img src="static/UI/icon.png" alt=""> <P>Scan Live</P></button>
				<button id="stopWebcam"> <img src="static/UI/light.png" alt=""> <p>Stop Live</p></button>
			</div>
			
		</div>
		<div id="result">
		</div>

		<div id="webcamContainer" style="display: none;">
			<h3>Webcam Feed:</h3>
			<img id="webcamFeed" src="/webcam">
		</div>
        
		<script>
			
			function updateFileName() {
				const fileInput = document.getElementById('file-upload');
				const fileNameDisplay = document.getElementById('file-name');
				const fileName = fileInput.files[0]?.name || 'No file chosen';
				fileNameDisplay.textContent = fileName;
     	   }

			function updateFileName1() {
				const fileInput = document.getElementById('file-upload-image');
				const fileNameDisplay = document.getElementById('file-name1');
				const fileName = fileInput.files[0]?.name || 'No file chosen';
				fileNameDisplay.textContent = fileName;
     	   }

			const startWebcamButton = document.getElementById('startWebcam');
      	    const stopWebcamButton = document.getElementById('stopWebcam');
      	    const webcamContainer = document.getElementById('webcamContainer');
      	    const webcamFeed = document.getElementById('webcamFeed');
			document.querySelector('form[action="/upload"]').onsubmit = async function (event) {
			event.preventDefault();

			const formData = new FormData(this);
			const response = await fetch("/upload", {
				method: "POST",
				body: formData,
			});

			const result = await response.json();

			const resultDiv = document.getElementById("result");

			function hei(){
				resultDiv.innerHTML = ``;	
			}
			if (result.output) {
				resultDiv.innerHTML = ``;
				if (result.output.endsWith(".mp4")) {
					resultDiv.innerHTML = `
						<h2>Processed Video</h2>
						<p><a href="${result.output}" download>Download Processed Video</a></p>
					`;
				} else {
					resultDiv.innerHTML= `
						<h2>Processed Image:</h2>
						<img src="../${result.output}" width="600">
					`;
				}
				
			} else {
				resultDiv.innerHTML = `<h2>Error:</h2><p>${result.error}</p>`;
			}
		};



		// image
		document.querySelector('form[action="/upload-image"]').onsubmit = async function (event) {
			event.preventDefault();

			const formData = new FormData(this);
			const response = await fetch("/upload", {
				method: "POST",
				body: formData,
			});

			const result = await response.json();

			const resultDiv = document.getElementById("result");
			if (result.output) {
				resultDiv.innerHTML = '';
				let satu = false;
				let dua = false;
				let tiga = false;
				let empat = false;
				let lima = false;
				let enam = false;
				let tujuh = false;
				let delapan = false;
				let sembilan = false;
				let sepuluh = false;
				let sebelas = false;
				let duabelas = false;
				let tigabelas = false;
				let empatbelas = false;
				if (result.output.endsWith(".mp4")) {
					resultDiv.innerHTML = `
						<h2>Processed Video:</h2>
						<video width="600" controls>
							<source src="../${result.output}" type="video/mp4">
							Your browser does not support the video tag.
						</video>
						
					`;
				} else {
					resultDiv.innerHTML+= `
						<img src="../${result.output}" width="600">
					`;
				}
				
				// Display detected classes
				if (result.detected_classes && result.detected_classes.length > 0 && (result.output.endsWith(".jpeg") || result.output.endsWith(".png") || result.output.endsWith(".jpg") )) {

					let description = '';
					description+=`<p id="heii">Here Are The Details</p>`
					result.detected_classes.forEach(cls => {
						
						// console.log(cls.name);

						if(cls.name == "bear" && satu == false){
							description+=`
								<img src="static/image/gambar-beruang.jpg" alt="">
								<p id="nama-hewan">Beruang</p>
								<p id="deskripsi">Deskripsi</p>
								<p id="detail-deskripsi">Beruang adalah salah satu mamalia darat terbesar yang termasuk dalam keluarga Ursidae. Hewan ini memiliki tubuh yang kokoh, moncong memanjang, telinga kecil dan bulat, serta cakar tajam. Warna bulu beruang bervariasi dari putih (beruang kutub), cokelat, hingga hitam, tergantung spesiesnya. Mereka adalah hewan soliter yang dikenal sebagai pemburu oportunis.</p>
								<p id="fakta">Fakta</p>
								<p id="detail-fakta">Ada 8 spesies beruang yang tersebar di dunia, seperti beruang kutub (Ursus maritimus), beruang grizzly (Ursus arctos horribilis), dan panda raksasa (Ailuropoda melanoleuca).
Beruang kutub adalah perenang ulung dan menghabiskan sebagian besar waktunya di laut.
Panda memiliki makanan yang hampir eksklusif berupa bambu, sementara spesies lain adalah omnivora.</p>
								<p id="ukuran">Ukuran</p>
								<p id="detail-ukuran">Tinggi: 1.2–2.8 meter (berdiri tegak).
Berat: 27–800 kg tergantung spesies.</p>
								<p id="ciri-ciri">Ciri-Ciri</p>
								<p id="detail-ciri-ciri">Beruang memiliki cakar panjang untuk menggali atau menangkap mangsa.
Lapisan lemak tebal membantu mereka bertahan di cuaca dingin.</p>
								<p id="sejarah">Sejarah</p>
								<p id="detail-sejarah">Beruang memiliki hubungan panjang dengan manusia dalam mitologi, cerita rakyat, dan budaya. Dalam mitologi Nordik, beruang adalah simbol keberanian dan perlindungan, sering diasosiasikan dengan dewa Odin. Di Amerika Utara, suku-suku pribumi menganggap beruang sebagai roh penjaga, yang menginspirasi lukisan totem dan kisah spiritual.
Dalam biologi, nenek moyang beruang modern pertama kali muncul sekitar 20 juta tahun lalu di Eurasia. Panda raksasa, salah satu spesies unik, berpisah dari kelompok beruang utama sekitar 3 juta tahun yang lalu, berkembang sebagai spesies yang sangat bergantung pada bambu.</p>
								<p id="pola-makan">Pola Makan</p>
								<p id="detail-pola-makan">Beruang adalah omnivora, dan pola makan mereka bergantung pada spesies dan lokasi:

Beruang grizzly: Ikan (terutama salmon), beri, akar, dan hewan kecil.
Panda raksasa: Hampir 99% makanannya adalah bambu.
Beruang kutub: Karnivora, memakan anjing laut dan kadang paus kecil.</p>
								<p id="habitat">Habitat</p>
								<p id="detail-habitat">Beruang grizzly hidup di pegunungan, hutan, dan padang rumput Amerika Utara.
Panda raksasa ditemukan di hutan bambu di pegunungan Tiongkok.
Beruang kutub tinggal di wilayah Arktik, di es laut dan pantai.</p>
							`
							satu = true;
						}
						else if(cls.name == "bird" && dua == false){
							description+=`
							<img src="static/image/gambar-burung.jpeg" alt="">
							<p id="nama-hewan">Burung</p>
							<p id="deskripsi">Deskripsi</p>
							<p id="detail-deskripsi">Burung adalah vertebrata berdarah panas yang termasuk dalam kelas Aves. Hewan ini dikenal karena tubuhnya yang ditutupi bulu, memiliki paruh tanpa gigi, serta kemampuan untuk bertelur. Sebagian besar spesies burung dapat terbang, meskipun ada juga yang tidak, seperti burung unta, penguin, dan kasuari. Burung memiliki sistem pernapasan dan kerangka yang dirancang untuk mendukung penerbangan.</p>
							<p id="fakta">Fakta</p>
							<p id="detail-fakta">Jumlah Spesies: Terdapat lebih dari 10.000 spesies burung di seluruh dunia.
Ukuran Bervariasi: Burung terkecil adalah kolibri lebah (Mellisuga helenae), dengan panjang sekitar 5 cm, sedangkan burung terbesar adalah burung unta (Struthio camelus), yang tingginya mencapai 2,7 meter.
Sistem Pernapasan Efisien: Burung memiliki sistem pernapasan yang lebih efisien daripada mamalia, yang memungkinkan suplai oksigen optimal saat terbang.
Penglihatan Tajam: Banyak burung memiliki penglihatan yang luar biasa, terutama burung pemangsa seperti elang.</p>
							<p id="ukuran">Ukuran</p>
							<p id="detail-ukuran">Terkecil: Kolibri lebah (panjang 5–6 cm, berat 1,6–2 gram).
Terbesar: Burung unta (tinggi hingga 2,7 meter, berat hingga 160 kg).
Panjang Rentang Sayap Terpanjang: Albatros pengembara (rentang sayap hingga 3,5 meter).</p>
							<p id="ciri-ciri">Ciri-Ciri</p>
							<p id="detail-ciri-ciri">Tubuh Berbulu: Seluruh tubuh ditutupi bulu yang berfungsi untuk terbang, menghangatkan tubuh, dan menarik pasangan.
Paruh Tanpa Gigi: Bentuk paruh bervariasi tergantung pola makan, misalnya paruh tajam untuk burung karnivora dan paruh bengkok untuk pemakan biji.
Kerangka Ringan: Tulang burung berongga (pneumatik) untuk mengurangi berat badan dan mendukung penerbangan.
Kaki dan Cakar: Disesuaikan dengan habitatnya, misalnya kaki berselaput untuk berenang atau cakar tajam untuk mencengkeram mangsa.
Kemampuan Beradaptasi: Beberapa burung dapat bermigrasi ribuan kilometer untuk mencari tempat berkembang biak yang ideal.</p>
							<p id="sejarah">Sejarah</p>
							<p id="detail-sejarah">Burung berevolusi dari dinosaurus theropoda kecil sekitar 150 juta tahun yang lalu selama periode Jurassic. Fosil pertama yang ditemukan adalah Archaeopteryx, yang menunjukkan adanya transisi antara dinosaurus dan burung modern. Burung mulai berkembang pesat setelah kepunahan dinosaurus non-unggas sekitar 66 juta tahun yang lalu.



</p>
							<p id="pola-makan">Pola Makan</p>
							<p id="detail-pola-makan">Burung adalah hewan omnivora, tetapi jenis makanannya tergantung pada spesiesnya:

Karnivora: Memakan serangga, mamalia kecil, atau ikan (contoh: elang, burung hantu).
Herbivora: Memakan biji, buah, dan nektar (contoh: burung pipit, kolibri).
Omnivora: Kombinasi tumbuhan dan hewan kecil (contoh: burung gagak).
Pemakan bangkai: Seperti burung hering.</p>
							<p id="habitat">Habitat</p>
							<p id="detail-habitat">Burung dapat ditemukan di hampir semua jenis habitat di dunia:

Hutan Tropis: Menyediakan tempat tinggal bagi banyak spesies, seperti burung cendrawasih.
Padang Rumput dan Savana: Burung seperti elang dan burung unta sering ditemukan di sini.
Perairan: Burung air seperti flamingo dan bebek menghuni danau, rawa, atau laut.
Pegunungan: Burung seperti alap-alap dan elang gunung hidup di dataran tinggi.
Perkotaan: Banyak burung seperti burung gereja dan merpati yang beradaptasi dengan lingkungan manusia.</p>
							`
							dua = true;
						}

						else if(cls.name == "zebra" && tiga == false){
							description+=`
							<img src="static/image/gambar-zebra.jpg" alt="">
							<p id="nama-hewan">Zebra</p>

							<p id="deskripsi">Deskripsi</p>
							<p id="detail-deskripsi">Zebra adalah hewan mamalia yang termasuk dalam keluarga kuda (Equidae) dan dikenal karena pola garis-garis hitam putih pada tubuhnya. Setiap zebra memiliki pola garis yang unik, mirip seperti sidik jari pada manusia. Tubuh zebra menyerupai kuda, dengan kepala yang agak besar, telinga tegak, dan tubuh ramping. Mereka memiliki ekor yang panjang dan berbulu, serta kaki yang kuat untuk berlari cepat.</p>

							<p id="fakta">Fakta</p>
							<p id="detail-fakta">Zebra adalah hewan sosial yang hidup dalam kawanan besar yang disebut "harems," yang terdiri dari satu pejantan dan beberapa betina.
Meskipun terlihat seperti kuda, zebra memiliki sifat yang lebih liar dan sulit dijinakkan.
Warna garis hitam dan putih pada zebra berfungsi sebagai kamuflase, membantu mereka menghindari predator dengan mengacaukan pandangan mereka dalam lingkungan yang padat atau saat bergerak cepat.</p>

							<p id="ukuran">Ukuran</p>
							<p id="detail-ukuran">Panjang tubuh: 2.3–2.7 meter.
Tinggi: 1.2–1.5 meter di bahu.
Berat: 250–450 kg, tergantung spesiesnya.</p>

							<p id="ciri-ciri">Ciri-Ciri</p>
							<p id="detail-ciri-ciri">Garis-garis: Pola garis pada tubuh zebra tidak hanya untuk kamuflase, tetapi juga berfungsi untuk mengatur suhu tubuh mereka. Garis hitam menyerap panas, sedangkan garis putih memantulkan panas, membantu zebra mengatur suhu tubuh di daerah panas.
Kelompok sosial: Zebra hidup dalam kawanan yang kuat dan melindungi satu sama lain. Seringkali, zebra akan membentuk hubungan erat dengan anggota kelompok lain, dan mereka saling menjaga keamanan.
</p>

							<p id="sejarah">Sejarah</p>
							<p id="detail-sejarah">Zebra pertama kali muncul sekitar 4 juta tahun yang lalu di Afrika. Mereka adalah kerabat dekat kuda dan keledai, tetapi zebra lebih sering ditemukan di alam liar dan belum pernah berhasil dijinakkan seperti kuda. Ada tiga spesies utama zebra yang dikenal:

Zebra dataran (Equus quagga): Spesies paling umum, ditemukan di sabana dan padang rumput Afrika timur dan selatan.
Zebra gunung (Equus zebra): Ditemukan di daerah pegunungan di Afrika Selatan, lebih kecil dan memiliki garis-garis yang lebih rapat.
Zebra Grevy (Equus grevyi): Spesies zebra terbesar, ditemukan di daerah semi-gurun di Afrika timur, terutama di Kenya dan Ethiopia.
Zebra juga menjadi bagian penting dalam budaya banyak suku di Afrika, dengan gambar dan simbol zebra sering muncul dalam seni dan cerita rakyat. Zebra digunakan dalam mitologi dan simbolisme di beberapa budaya, melambangkan keindahan, kekuatan, dan ketahanan.</p>

							<p id="pola-makan">Pola Makan</p>
							<p id="detail-pola-makan">Zebra adalah herbivora, yang sebagian besar makan rumput, daun, kulit pohon muda, dan beberapa jenis tanaman lain. Mereka menghabiskan sebagian besar waktu mereka makan rumput di padang rumput dan sabana. Zebra adalah pemakan yang sangat efisien, menggunakan gigi geraham besar untuk menggiling makanan keras, dan mereka sering berpindah-pindah mencari rumput segar.</p>
							
							<p id="habitat">Habitat</p>
							<p id="detail-habitat">Zebra dapat ditemukan di berbagai habitat di Afrika, termasuk padang rumput terbuka, sabana, dan beberapa daerah hutan terbuka. Mereka lebih suka daerah yang kaya akan rumput, yang menyediakan makanan utama mereka. Zebra biasanya menghindari hutan lebat dan lebih suka daerah terbuka yang memungkinkan mereka untuk mengawasi potensi ancaman dari predator.</p>
							`
							tiga = true;
						}

						else if(cls.name == "cat" && empat == false){
							description+=`
							<img src="static/image/gambar-kucing.jpeg" alt="">
							<p id="nama-hewan">Kucing</p>

							<p id="deskripsi">Deskripsi</p>
							<p id="detail-deskripsi">Kucing adalah mamalia karnivora kecil yang termasuk dalam famili Felidae dan spesies Felis catus. Kucing dikenal sebagai hewan peliharaan yang populer karena sifatnya yang lucu, anggun, dan penuh kasih sayang. Mereka memiliki kemampuan berburu alami, penglihatan malam yang tajam, serta kepekaan terhadap suara dan gerakan.</p>

							<p id="fakta">Fakta</p>
							<p id="detail-fakta">Domestikasi Lama: Kucing telah didomestikasi selama lebih dari 9.000 tahun.
Populasi Dunia: Terdapat lebih dari 500 juta kucing peliharaan di seluruh dunia.
Pola Tidur: Kucing menghabiskan sekitar 12–16 jam per hari untuk tidur.
Komunikasi Unik: Kucing menggunakan suara (seperti mengeong dan mendengkur), gerakan tubuh, serta ekspresi wajah untuk berkomunikasi dengan manusia dan sesamanya.</p>

							<p id="ukuran">Ukuran</p>
							<p id="detail-ukuran">Panjang Tubuh: 46–51 cm (tidak termasuk ekor).
Berat: Rata-rata 4–6 kg, tetapi ada ras yang lebih kecil atau lebih besar.
Rekor Terbesar: Kucing domestik terpanjang yang tercatat adalah 1,23 meter dari kepala hingga ekor.</p>

							<p id="ciri-ciri">Ciri-Ciri</p>
							<p id="detail-ciri-ciri">Tubuh Lincah: Kucing memiliki tubuh yang fleksibel dengan tulang belakang yang elastis, memungkinkan mereka untuk melompat tinggi atau bergerak dengan cepat.
Bulu: Bervariasi dalam warna, pola, dan panjang, tergantung pada rasnya.
Cakar Retraktil: Cakar dapat ditarik ke dalam, memungkinkannya tetap tajam saat digunakan untuk berburu atau memanjat.
Mata: Kucing memiliki pupil berbentuk elips yang memungkinkan penglihatan tajam di kondisi cahaya rendah.
Pendengaran Tajam: Kucing dapat mendeteksi frekuensi tinggi yang tidak dapat didengar manusia.
Kumis Sensitif: Kumis kucing membantu mereka merasakan perubahan kecil di lingkungan, seperti gerakan udara atau benda di sekitarnya.</p>

							<p id="sejarah">Sejarah</p>
							<p id="detail-sejarah">Kucing domestik berasal dari kucing liar Afrika (Felis silvestris lybica) yang mulai berinteraksi dengan manusia di sekitar daerah Timur Tengah, terutama selama periode awal pertanian. Kucing dianggap sebagai pemburu alami tikus yang membantu melindungi hasil panen manusia. Selama berabad-abad, kucing berkembang menjadi bagian penting dari rumah tangga manusia di seluruh dunia.</p>

							<p id="pola-makan">Pola Makan</p>
							<p id="detail-pola-makan">Kucing adalah karnivora obligat, yang berarti mereka membutuhkan protein hewani untuk bertahan hidup. Makanan mereka meliputi:

Daging Mentah: Tikus, burung kecil, atau ikan (di alam liar).
Makanan Olahan: Makanan kucing komersial yang diformulasikan dengan daging, ikan, dan vitamin tambahan.
Makanan Tambahan: Beberapa kucing menyukai makanan manusia seperti ayam rebus atau ikan, tetapi makanan seperti cokelat, bawang, dan anggur beracun bagi mereka.</p>

							<p id="habitat">Habitat</p>
							<p id="detail-habitat">Kucing domestik dapat beradaptasi dengan berbagai habitat, baik di lingkungan perkotaan maupun pedesaan.

Rumah: Sebagian besar kucing domestik tinggal di rumah sebagai hewan peliharaan.
Liar: Kucing liar atau kucing jalanan hidup di lingkungan luar, seperti hutan, taman, atau daerah urban.
Lingkungan Panas atau Dingin: Beberapa ras, seperti kucing Persia, lebih cocok untuk lingkungan dingin, sementara ras seperti kucing Savannah lebih nyaman di iklim hangat.

</p>
							`
							empat = true;
						}
						else if(cls.name == "dog" && lima == false){
							description+=`
							<img src="static/image/gambar-anjing.jpeg" alt="">
							<p id="nama-hewan">Anjing</p>

							<p id="deskripsi">Deskripsi</p>
							<p id="detail-deskripsi">Anjing (Canis lupus familiaris) adalah mamalia karnivora yang telah didomestikasi dari serigala abu-abu sekitar 15.000–40.000 tahun yang lalu. Anjing adalah salah satu hewan peliharaan paling setia dan serbaguna di dunia, dengan kemampuan untuk bekerja sebagai penjaga, pemburu, anjing terapi, atau hanya sebagai teman setia manusia.</p>

							<p id="fakta">Fakta</p>
							<p id="detail-fakta">Variasi Ras: Ada lebih dari 340 ras anjing yang diakui secara resmi, mulai dari Chihuahua kecil hingga anjing ras besar seperti Great Dane.
Indera Penciuman Tajam: Indera penciuman anjing 10.000–100.000 kali lebih tajam daripada manusia.
Keturunan Langsung Serigala: DNA anjing berbagi 99,9% kemiripan dengan serigala abu-abu.
Beragam Peran: Anjing dapat dilatih untuk mendeteksi bom, membantu penyandang disabilitas, menggiring ternak, atau bahkan mendeteksi penyakit seperti kanker.</p>

							<p id="ukuran">Ukuran</p>
							<p id="detail-ukuran">Terkecil: Chihuahua, dengan berat sekitar 1,5–3 kg dan tinggi sekitar 15–23 cm.
Terbesar: Great Dane dan Mastiff, yang tingginya dapat mencapai lebih dari 1 meter dan berat hingga 90 kg.</p>

							<p id="ciri-ciri">Ciri-Ciri</p>
							<p id="detail-ciri-ciri">Tubuh Berbulu: Warna dan tekstur bulu bervariasi tergantung pada ras, seperti bulu panjang (Golden Retriever) atau bulu pendek (Dalmatian).
Hidung Sensitif: Hidung anjing memiliki ribuan reseptor penciuman yang memungkinkannya mendeteksi bau dengan akurasi tinggi.
Gigi Karnivora: Gigi tajam dirancang untuk merobek daging, meskipun banyak anjing domestik juga makan makanan yang diformulasikan khusus.
Kaki yang Kuat: Dirancang untuk kecepatan, ketahanan, dan kelincahan, memungkinkan mereka berlari cepat atau menggali.
Pendengaran Tajam: Anjing dapat mendengar frekuensi tinggi hingga 65.000 Hz, jauh lebih tinggi dibandingkan manusia.</p>

							<p id="sejarah">Sejarah</p>
							<p id="detail-sejarah"Domestikasi anjing dimulai ketika serigala liar mulai berinteraksi dengan manusia, sering kali mencari sisa makanan di sekitar tempat tinggal manusia purba. Secara bertahap, manusia mulai melatih dan membiakkan serigala yang lebih jinak, yang kemudian berkembang menjadi berbagai ras anjing dengan karakteristik khusus.</p>

							<p id="pola-makan">Pola Makan</p>
							<p id="detail-pola-makan">Anjing adalah omnivora, meskipun kebutuhan utamanya berasal dari protein hewani. Makanan mereka meliputi:

Daging: Ayam, sapi, atau ikan.
Makanan Olahan: Makanan anjing komersial yang dirancang untuk memenuhi kebutuhan nutrisi mereka.
Tambahan Sayuran: Wortel, labu, dan kentang manis sering digunakan sebagai tambahan diet.
Pantangan: Makanan seperti cokelat, bawang, anggur, dan alkohol beracun bagi anjing.</p>

							<p id="habitat">Habitat</p>
							<p id="detail-habitat">Anjing adalah hewan yang sangat adaptif dan dapat hidup di berbagai lingkungan:

Perkotaan: Tinggal bersama keluarga di apartemen atau rumah.
Pedesaan: Sering digunakan sebagai anjing penjaga atau pekerja.
Lingkungan Ekstrem: Anjing seperti Husky Siberia hidup di daerah bersalju, sementara Basenji berkembang di lingkungan panas Afrika.</p>
							`
							lima = true;
						}
						else if(cls.name == "horse" && enam == false){
							description+=`
							<img src="static/image/gambar-kuda.jpeg" alt="">
							<p id="nama-hewan">Kuda</p>

							<p id="deskripsi">Deskripsi</p>
							<p id="detail-deskripsi">Kuda (Equus ferus caballus) adalah mamalia herbivora berkuku satu yang dikenal karena kekuatan, kecepatan, dan kegunaannya dalam berbagai aktivitas manusia. Kuda telah didomestikasi selama lebih dari 5.000 tahun dan memainkan peran penting dalam transportasi, pertanian, perang, olahraga, dan hiburan.</p>

							<p id="fakta">Fakta</p>
							<p id="detail-fakta">Indra Tajam: Kuda memiliki penglihatan periferal yang luas, hampir 360 derajat, tetapi mereka memiliki titik buta di depan dan di belakang tubuh mereka.
Beragam Jenis: Ada lebih dari 400 ras kuda, dari kuda poni kecil hingga ras kuda besar seperti Shire.
Kekuatan Kaki: Tendangan kuda dapat menghasilkan kekuatan besar yang berbahaya jika terkena langsung.
Hewan Sosial: Kuda hidup dalam kawanan dan memiliki hierarki sosial yang ketat.</p>

							<p id="ukuran">Ukuran</p>
							<p id="detail-ukuran">Ras Terkecil: Kuda Falabella, dengan tinggi rata-rata 76 cm.
Ras Terbesar: Kuda Shire, yang tingginya bisa mencapai 1,8 meter di pundak dan berat lebih dari 1 ton.
</p>

							<p id="ciri-ciri">Ciri-Ciri</p>
							<p id="detail-ciri-ciri">Tubuh Berotot: Tubuh kuda dirancang untuk kecepatan dan daya tahan.
Kuku Keras: Kuku kuda adalah struktur keratin yang mendukung berat badan dan melindungi kaki.
Ekor dan Surai: Digunakan untuk mengusir serangga dan melambangkan keindahan kuda.
Gigi: Kuda memiliki 36–40 gigi, digunakan untuk memotong rumput dan menggiling makanan.
Detak Jantung: Detak jantung kuda normal berkisar antara 28–40 kali per menit dalam keadaan istirahat.
</p>

							<p id="sejarah">Sejarah</p>
							<p id="detail-sejarah">Kuda modern berevolusi dari leluhur kecil seperti Hyracotherium, yang hidup sekitar 50 juta tahun yang lalu. Domestikasi kuda pertama kali terjadi di padang stepa Asia Tengah sekitar 3.500 SM, dan sejak itu mereka menyebar ke seluruh dunia, memainkan peran penting dalam budaya dan peradaban manusia.



</p>

							<p id="pola-makan">Pola Makan</p>
							<p id="detail-pola-makan">Kuda adalah herbivora, dengan pola makan utama berupa:

Rumput: Sumber makanan utama di habitat alami.
Jerami: Sering diberikan sebagai makanan tambahan.
Gandum atau Oat: Sebagai sumber energi untuk kuda pekerja atau kuda balap.
Air: Kuda membutuhkan sekitar 25–50 liter air per hari, tergantung pada ukuran dan aktivitasnya.</p>

							<p id="habitat">Habitat</p>
							<p id="detail-habitat">Kuda dapat beradaptasi dengan berbagai lingkungan, termasuk:

Padang Rumput: Habitat alami tempat mereka mencari makan dan hidup dalam kawanan.
Peternakan: Tempat tinggal utama kuda domestik, sering kali dilengkapi dengan kandang dan lapangan terbuka.
Pegunungan: Beberapa ras, seperti kuda Mongolia, hidup di dataran tinggi.
</p>
							`
							enam = true;
						}
						else if(cls.name == "sheep" && tujuh == false){
							description+=`
								<img src="static/image/gambar-domba.jpeg" alt="">
							<p id="nama-hewan">Domba</p>

							<p id="deskripsi">Deskripsi</p>
							<p id="detail-deskripsi">Domba (Ovis aries) adalah mamalia herbivora yang termasuk dalam keluarga Bovidae, yang terkenal karena kemampuannya menghasilkan wol, susu, dan daging. Domba telah didomestikasi sejak sekitar 10.000 tahun yang lalu dan merupakan salah satu hewan ternak utama di dunia, yang banyak dipelihara untuk keperluan pertanian dan industri tekstil.

</p>

							<p id="fakta">Fakta</p>
							<p id="detail-fakta">Wol: Domba dikenal karena menghasilkan wol, bahan tekstil alami yang digunakan untuk membuat pakaian dan selimut.
Insting Kawanan: Domba adalah hewan yang sangat sosial dan memiliki insting kawanan yang kuat. Mereka cenderung merasa aman dalam kelompok.
Pemeliharaan yang Luas: Domba ditemukan hampir di seluruh dunia, terutama di daerah yang memiliki iklim sedang.
Penyesuaian Lingkungan: Ada banyak ras domba yang dapat bertahan di berbagai kondisi, mulai dari daerah pegunungan hingga daerah padang rumput.</p>

							<p id="ukuran">Ukuran</p>
							<p id="detail-ukuran">Tinggi: Rata-rata domba dewasa memiliki tinggi antara 60–100 cm di bahu, tergantung pada ras.
Berat: Berat domba bervariasi antara 45–160 kg, dengan domba jantan biasanya lebih besar daripada betina.</p>

							<p id="ciri-ciri">Ciri-Ciri</p>
							<p id="detail-ciri-ciri">Bulu/Wol: Ciri utama domba adalah bulunya yang tebal dan lembut, yang dikenal sebagai wol. Wol ini berguna untuk melindungi mereka dari cuaca dingin.
Tanduk: Beberapa ras domba memiliki tanduk yang melingkar, terutama domba jantan. Namun, tidak semua ras domba memiliki tanduk.
Kaki: Domba memiliki kaki yang pendek dan kuat, dilengkapi dengan kuku yang memudahkan mereka bergerak di medan berbukit.
Mulut: Mulut domba dilengkapi dengan gigi seri yang tajam di depan dan gigi geraham yang besar untuk mengunyah tumbuh-tumbuhan kasar.</p>

							<p id="sejarah">Sejarah</p>
							<p id="detail-sejarah">Domba domestik berasal dari domba liar yang dikenal sebagai Ovis orientalis, yang berasal dari wilayah Timur Tengah sekitar 10.000 tahun yang lalu. Proses domestikasi ini memungkinkan manusia untuk memanfaatkan domba sebagai sumber makanan, pakaian (wool), dan tenaga kerja. Seiring waktu, manusia mulai membiakkan domba untuk mendapatkan karakteristik tertentu, seperti kualitas wol yang lebih baik atau pertumbuhan daging yang lebih cepat.</p>

							<p id="pola-makan">Pola Makan</p>
							<p id="detail-pola-makan">Domba adalah herbivora dan memakan berbagai jenis tanaman:

Rumput: Makanan utama domba adalah rumput dan tanaman herba.
Dedaunan: Domba juga dapat mengonsumsi dedaunan dan tanaman kecil lainnya.
Pakan Tambahan: Dalam pengelolaan peternakan, domba juga diberi pakan tambahan berupa jerami atau biji-bijian seperti gandum dan jagung, tergantung pada kebutuhan nutrisi mereka.</p>

							<p id="habitat">Habitat</p>
							<p id="detail-habitat">Domba dapat hidup di berbagai habitat:

Padang Rumput: Habitat alami domba adalah padang rumput terbuka, di mana mereka dapat makan rumput sepanjang hari.
Pegunungan: Beberapa ras domba, seperti domba Merino, dapat bertahan hidup di daerah berbukit dan pegunungan dengan kondisi cuaca yang lebih dingin.
Peternakan: Domba domestik biasanya dipelihara di peternakan atau ranah yang dijaga dan dikelola oleh manusia untuk produksi wol, susu, dan daging.</p>

							`
							tujuh = true;
						}
						else if(cls.name=="cow" && delapan == false){
							delapan = true;
							description+=`
							<img src="static/image/gambar-sapi.jpeg" alt="">
							<p id="nama-hewan">Sapi</p>

							<p id="deskripsi">Deskripsi</p>
							<p id="detail-deskripsi">Sapi (Bos taurus) adalah mamalia herbivora yang termasuk dalam keluarga Bovidae dan merupakan salah satu hewan ternak paling penting di dunia. Sapi telah didomestikasi selama lebih dari 10.000 tahun dan telah menjadi sumber utama daging, susu, kulit, dan tenaga bagi manusia. Mereka juga berperan dalam pertanian, seperti menarik alat berat atau membajak tanah.

</p>

							<p id="fakta">Fakta</p>
							<p id="detail-fakta">Jumlah Populasi: Sapi adalah salah satu hewan ternak yang paling banyak di dunia, dengan populasi lebih dari 1,5 miliar ekor.
Sumber Daya Alam: Selain produk yang dihasilkan seperti daging dan susu, sapi juga menghasilkan pupuk organik melalui kotorannya yang berguna dalam pertanian.
Kemampuan Menyesuaikan Diri: Sapi dapat hidup di berbagai iklim, mulai dari daerah dingin hingga tropis, dengan beberapa ras yang lebih tahan terhadap panas atau dingin.
Panjang Hidup: Rata-rata usia sapi bisa mencapai 15-20 tahun, meskipun banyak yang disembelih lebih awal untuk produksi daging atau susu.</p>

							<p id="ukuran">Ukuran</p>
							<p id="detail-ukuran">Tinggi: Sapi dewasa biasanya memiliki tinggi sekitar 1,4–1,8 meter di bahu, tergantung pada ras.
Berat: Berat sapi dewasa bisa bervariasi antara 450 kg hingga 1.500 kg. Ras sapi besar seperti Holstein dapat mencapai berat lebih dari 900 kg, sementara sapi kecil seperti Dexter lebih ringan.
</p>

							<p id="ciri-ciri">Ciri-Ciri</p>
							<p id="detail-ciri-ciri">Tubuh Berotot: Sapi memiliki tubuh besar dengan otot yang kuat untuk mendukung pekerjaan berat, seperti menarik kereta atau membajak.
Kuku Terbelah: Seperti hewan pemamah biak lainnya, sapi memiliki kuku terbelah yang membantu mereka bergerak di berbagai medan.
Mulut: Sapi memiliki gigi seri di bagian depan mulut untuk memotong rumput dan gigi geraham untuk menggiling makanan.
Ekor dan Kulit: Ekor sapi panjang dan sering digunakan untuk mengusir serangga. Kulit sapi bisa berwarna putih, hitam, cokelat, atau kombinasi dari berbagai warna tergantung pada rasnya.</p>

							<p id="sejarah">Sejarah</p>
							<p id="detail-sejarah">Sapi domestik berasal dari auroch, spesies sapi liar yang dulu mendiami Eurasia. Proses domestikasi sapi pertama kali terjadi sekitar 10.000 tahun yang lalu di wilayah Timur Tengah. Selama ribuan tahun, sapi dibudidayakan untuk memenuhi kebutuhan manusia akan daging, susu, dan tenaga kerja, serta untuk keperluan keagamaan dan budaya.</p>

							<p id="pola-makan">Pola Makan</p>
							<p id="detail-pola-makan">Sapi adalah herbivora yang memamah biak, yang berarti mereka makan tanaman dan mencerna makanan dalam dua tahap:

Rumput: Rumput adalah makanan utama sapi, terutama di padang rumput.
Tanaman Hijau: Selain rumput, sapi juga makan dedaunan, tanaman liar, dan jerami.
Pakan Tambahan: Dalam pengelolaan peternakan, sapi sering diberi pakan tambahan berupa jagung, gandum, atau konsentrat untuk meningkatkan produksi susu atau daging.
Air: Sapi membutuhkan banyak air untuk pencernaan dan produksi susu, dengan kebutuhan air sekitar 30-50 liter per hari.</p>

							<p id="habitat">Habitat</p>
							<p id="detail-habitat">Sapi biasanya hidup di:

Padang Rumput: Habitat alami mereka adalah padang rumput terbuka, tempat mereka menggembala rumput sepanjang hari.
Peternakan: Sapi domestik umumnya dipelihara di peternakan atau lahan pertanian yang lebih kecil untuk tujuan produksi susu, daging, atau keduanya.
Daerah Tropis dan Subtropis: Beberapa ras sapi telah berkembang untuk bertahan hidup di daerah yang lebih panas, seperti zebu yang tahan terhadap panas dan kelembapan.

</p>
							`
						}
						
						else if(cls.name == "giraffe" && sebelas == false){
							sebelas = true;
							description+=`
							<img src="static/image/gambar-jerapah.jpg" alt="">
							<p id="nama-hewan">Jerapah</p>

							<p id="deskripsi">Deskripsi</p>
							<p id="detail-deskripsi">Jerapah (Giraffa camelopardalis) adalah mamalia darat tertinggi yang ada, dikenal dengan leher panjangnya yang ikonik dan tubuhnya yang ramping. Mereka memiliki kaki yang panjang dan tubuh besar dengan pola bercak-bercak yang berbeda pada setiap individu, yang memberikan camouflase di habitat alami mereka. Warna tubuh jerapah dapat bervariasi, mulai dari coklat terang hingga coklat gelap, dengan bercak yang lebih terang atau lebih gelap tergantung pada subspesiesnya. Kepala jerapah kecil dibandingkan dengan tubuhnya dan dilengkapi dengan dua tonjolan seperti tanduk yang disebut ossicone, yang terbuat dari tulang dan dilapisi kulit.</p>

							<p id="fakta">Fakta</p>
							<p id="detail-fakta">Jerapah adalah hewan dengan leher terpanjang dari semua mamalia, bisa mencapai panjang lebih dari 2 meter.
Jerapah adalah pemakan tumbuhan (herbivora) dan dapat mengonsumsi hingga 45 kg daun dalam sehari.
Meskipun mereka sangat besar dan tinggi, jerapah dapat berlari dengan kecepatan hingga 60 km/jam dalam waktu singkat, meskipun mereka lebih sering berjalan dengan langkah yang lambat dan elegan.</p>

							<p id="ukuran">Ukuran</p>
							<p id="detail-ukuran">Tinggi jantan: 4.5–5.5 meter.
Tinggi betina: 4–4.3 meter.
Berat jantan: 1,600–2,000 kg.
Berat betina: 800–1,200 kg.</p>

							<p id="ciri-ciri">Ciri-Ciri</p>
							<p id="detail-ciri-ciri">Leher panjang: Leher jerapah yang sangat panjang memungkinkan mereka untuk mengakses daun dari pohon tinggi, yang menjadi keuntungan besar dalam ekosistem mereka. Leher ini terdiri dari tujuh tulang belakang, jumlah yang sama dengan manusia dan sebagian besar mamalia lainnya, meskipun ukurannya jauh lebih besar.
Polarisasi bercak tubuh: Setiap individu jerapah memiliki pola bercak yang unik, yang dapat membantu mereka berkamuflase di antara pepohonan dan semak-semak di habitat mereka.
Tongue: Jerapah memiliki lidah yang sangat panjang dan fleksibel, yang digunakan untuk mengambil daun dari cabang pohon. Lidah mereka dapat berputar 180 derajat dan sangat terlatih untuk meraih daun yang sulit dijangkau.</p>

							<p id="sejarah">Sejarah</p>
							<p id="detail-sejarah">Jerapah pertama kali muncul di Afrika sekitar 2 juta tahun yang lalu. Hewan ini merupakan bagian dari keluarga Giraffidae, yang juga mencakup okapi, sepupu terdekat jerapah yang lebih kecil dan lebih tersembunyi di hutan hujan tropis Afrika. Selama evolusi mereka, jerapah mengembangkan leher panjang mereka sebagai cara untuk mengakses daun yang tidak dapat dijangkau oleh banyak herbivora lain, memberikan mereka keuntungan dalam persaingan untuk makanan.

Meskipun jerapah dulu tersebar lebih luas di Afrika, habitat mereka sekarang terbatas pada beberapa wilayah sub-Sahara. Perburuan untuk daging dan kulit jerapah serta perusakan habitat telah menyebabkan penurunan populasi mereka di beberapa daerah, meskipun populasi jerapah relatif stabil di banyak bagian Afrika.

Jerapah memiliki peran penting dalam ekosistem, sebagai pengatur populasi pohon dan semak-semak, serta penyebar biji tanaman yang mereka makan.</p>

							<p id="pola-makan">Pola Makan</p>
							<p id="detail-pola-makan">Jerapah adalah herbivora, yang berarti mereka memakan tumbuhan. Makanan utama mereka adalah daun, bunga, dan buah-buahan, terutama dari pohon akasia, meskipun mereka juga dapat memakan tanaman lain seperti semak-semak dan rumput. Karena leher mereka yang panjang, jerapah memiliki akses yang lebih baik ke daun di bagian atas pohon yang tidak dapat dijangkau oleh banyak herbivora lainnya.

Mereka menggunakan lidah mereka yang panjang dan lentur (hingga 45 cm) untuk meraih dan menggigit daun yang berada jauh di atas tanah. Lidah mereka berwarna hitam kebiruan, yang memberikan perlindungan dari sinar matahari yang keras. Jerapah juga perlu mengonsumsi sejumlah besar air, tetapi mereka tidak sering minum, cukup dengan 2 hingga 3 kali dalam seminggu.</p>

							<p id="habitat">Habitat</p>
							<p id="detail-habitat">Jerapah dapat ditemukan di sabana, padang rumput, dan hutan terbuka di berbagai wilayah di Afrika sub-Sahara. Mereka lebih suka daerah yang memiliki pohon tinggi, terutama akasia, yang menjadi sumber makanan utama mereka. Jerapah hidup dalam kelompok yang terdiri dari beberapa individu, biasanya betina dan anak-anak, sementara jantan cenderung lebih sering hidup soliter atau membentuk kelompok kecil.

Habitat jerapah sering kali berbatasan dengan area terbuka dan hutan lebat, di mana mereka dapat mencari makanan yang melimpah. Mereka cenderung tinggal di daerah yang memiliki air, meskipun mereka tidak bergantung pada air sepanjang waktu karena kebutuhan air mereka dapat dipenuhi dari makanannya.</p>
							`
						}
						else if(cls.name == "elephant" && duabelas == false){
							duabelas = true;
							description+=`
							<img src="static/image/gambar-gajah.jpg" alt="">
							<p id="nama-hewan">Gajah</p>

							<p id="deskripsi">Deskripsi</p>
							<p id="detail-deskripsi">Gajah adalah mamalia terbesar di darat, dikenal karena ukuran tubuh mereka yang besar, telinga besar yang dapat digunakan untuk mengatur suhu tubuh, dan belalai panjang yang memiliki berbagai fungsi. Ada dua spesies utama gajah, yaitu gajah Asia (Elephas maximus) dan gajah Afrika (Loxodonta africana). Gajah Afrika umumnya lebih besar dan memiliki telinga yang lebih besar dibandingkan gajah Asia, serta tubuh yang lebih tinggi.

Gajah Afrika: Memiliki tubuh lebih besar dan telinga lebih lebar yang berbentuk seperti peta Afrika. Mereka juga memiliki dua tonjolan di atas belalai.
Gajah Asia: Lebih kecil dengan telinga yang lebih kecil dan hanya memiliki satu tonjolan di atas belalai.
Gajah memiliki kulit tebal yang berkeriput dan berwarna abu-abu atau kecoklatan, dengan rambut halus di seluruh tubuh. Mereka memiliki empat kaki besar dan ekor yang panjang. Belalai mereka adalah organ yang sangat fleksibel dan dapat digunakan untuk berbagai keperluan, seperti makan, minum, berkomunikasi, serta melindungi diri.</p>

							<p id="fakta">Fakta</p>
							<p id="detail-fakta">Gajah adalah hewan yang sangat cerdas dan memiliki memori yang luar biasa.
Gajah dapat berkomunikasi menggunakan suara yang sangat rendah (infrasonik), yang tidak dapat didengar manusia, untuk berkomunikasi jarak jauh.
Gajah memiliki perasaan dan dapat merasakan emosi seperti kesedihan, kegembiraan, dan empati.</p>

							<p id="ukuran">Ukuran</p>
							<p id="detail-ukuran">Gajah Afrika:

Tinggi jantan: 3–4 meter di bahu.
Berat: 4,500–6,800 kg.
Tinggi betina: 2.7–3 meter.
Berat betina: 2,500–3,500 kg.
Gajah Asia:

Tinggi jantan: 2.7–3.5 meter.
Berat: 4,000–5,000 kg.
Tinggi betina: 2.4–2.7 meter.
Berat betina: 2,700–3,000 kg.</p>

							<p id="ciri-ciri">Ciri-Ciri</p>
							<p id="detail-ciri-ciri">Belalai: Belalai gajah adalah organ yang sangat serbaguna, yang terdiri dari lebih dari 150.000 otot dan digunakan untuk berbagai fungsi, termasuk mengambil makanan, minum air, berkomunikasi, dan bahkan merawat diri.
Gading: Gading gajah, yang sebenarnya adalah gigi seri atas, tumbuh sepanjang hidup gajah dan digunakan untuk menggali, bertarung, dan meraih makanan. Namun, gading juga menjadi sasaran perburuan ilegal untuk perdagangan gading.
Kecerdasan dan Memori: Gajah dikenal memiliki kecerdasan yang sangat tinggi, bahkan beberapa penelitian menunjukkan bahwa mereka memiliki kemampuan untuk mengenali diri mereka sendiri dalam cermin, sebuah tanda dari kesadaran diri. Mereka juga memiliki ingatan jangka panjang yang luar biasa, yang membantu mereka mengingat lokasi air dan rute migrasi.</p>

							<p id="sejarah">Sejarah</p>
							<p id="detail-sejarah">Gajah memiliki sejarah panjang yang dimulai sekitar 60 juta tahun yang lalu. Sejak zaman prasejarah, gajah termasuk dalam keluarga Elephantidae, yang mencakup berbagai spesies besar, termasuk mamut yang punah. Gajah modern pertama kali muncul di Afrika, dengan spesies Loxodonta berkembang di sana sekitar 2 juta tahun yang lalu. Gajah Asia muncul sedikit lebih belakangan, dengan spesies Elephas maximus yang beradaptasi untuk hidup di hutan-hutan tropis Asia.

Gajah memainkan peran besar dalam budaya manusia, baik sebagai simbol kekuatan dan kebijaksanaan, maupun dalam sejarah manusia sebagai hewan pekerja, terutama di Asia. Mereka digunakan dalam pertempuran dan sebagai alat transportasi di beberapa peradaban kuno.

Pada abad ke-19 dan 20, populasi gajah mulai berkurang drastis akibat perburuan liar untuk gading mereka, yang sangat berharga. Meskipun gajah dilindungi di banyak negara sekarang, perburuan ilegal dan hilangnya habitat tetap menjadi ancaman besar.

</p>

							<p id="pola-makan">Pola Makan</p>
							<p id="detail-pola-makan">Gajah adalah herbivora, yang berarti mereka memakan berbagai jenis tumbuhan, seperti rumput, dedaunan, buah-buahan, kulit pohon, dan akar. Mereka menghabiskan banyak waktu untuk mencari dan makan, mengonsumsi sekitar 150 kilogram makanan dalam sehari. Belalai mereka digunakan untuk meraih dan memindahkan makanan ke mulut, dan mereka dapat menggunakan belalai untuk mencabut pohon kecil, memetik buah dari pohon tinggi, atau mengambil air dari sungai dan kemudian menyemprotkan air ke mulut mereka.

Selain makan, gajah juga membutuhkan air dalam jumlah besar. Mereka bisa minum hingga 200 liter air dalam sehari, tergantung pada kondisi cuaca dan aktivitas fisik mereka.</p>

							<p id="habitat">Habitat</p>
							<p id="detail-habitat">Gajah ditemukan di berbagai habitat, mulai dari hutan hujan tropis hingga padang rumput terbuka di Afrika dan Asia. Habitat mereka bergantung pada spesiesnya:

Gajah Afrika lebih sering ditemukan di sabana terbuka, padang rumput, dan hutan yang lebih ringan.
Gajah Asia dapat ditemukan di hutan hujan tropis dan kawasan perbukitan, serta kadang-kadang di dataran rendah dekat sungai.
Gajah cenderung hidup dalam kelompok keluarga yang terdiri dari betina dan anak-anaknya, sementara jantan dewasa lebih sering hidup soliter atau dalam kelompok kecil dengan jantan lain. Gajah memiliki migrasi musiman, bergerak dari satu tempat ke tempat lain untuk mencari makanan dan air, terutama pada musim kemarau.</p>
							`
						}

					

					})

					resultDiv.innerHTML += description;

				}
				else if(result.detected_classes && result.detected_classes.length > 0){
					const classesHtml = result.detected_classes
                        .map(cls => `<p>Detected Class ID: ${cls}</p>`)
                        .join("");
                    resultDiv.innerHTML += `
                        <h3>Detected Classes:</h3>
                        ${classesHtml}
                    `;
				}
			} else {
				resultDiv.innerHTML = `<h2>Not Found Any Animals:</h2><p>${result.error}</p>`;
			}
		};


		startWebcamButton.onclick = () => {
            webcamContainer.style.display = 'block';
            webcamFeed.src = '/webcam';

			resultDiv.innerHTML = ``;
        };

        stopWebcamButton.onclick = () => {
            webcamContainer.style.display = 'none';
            webcamFeed.src = '';  // Stop the feed

			resultDiv.innerHTML = ``;
        };
		</script>
	</body>
</html>

